

.mainContainer{
    min-height: 97vh;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-left: 5%;
}

.loginCard{
    position: relative;
    display: flex;
    width: 85%;
    min-height: 62vh;
    background: rgb(78, 122, 158);
    justify-content: center;
    align-content: center;
    border-radius: 30px ;
    /* 0px 0px 80px; */
}

.loginHead{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 2.5em;
    /* line-height: 2em; */
    margin-bottom: .5em;
    align-items: center;
    text-align: center;
    text-transform: capitalize;

    color: #fff;
    display: block;

}

.loginContent{
    flex: 1.6;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    min-height: 100%;
}

.loggedUser{
    animation: fade 1s ease-in-out;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 2.5em;
    /* line-height: 2em; */
    margin-bottom: .5em;
    align-items: center;
    text-align: center;
    text-transform: capitalize;

    color: #fff;
    display: block;
}

.appInfo{
    /* flex: 2 2 */
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 0.8em;
    line-height: 2em;
    /* margin-top: 2em; */
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    margin-left: 8%;
    margin-right: 8%;

    color: #fff;

}

.loginSide{
    flex: 3 3;
    display: flex;
    flex-flow: column; 
    justify-content: flex-end;
    min-height: 100%;
    background: url(../../assets/image.jpg);
    background-size: cover;
    mix-blend-mode: normal;
    border-radius: 0px 30px 30px 0px;
    
    /* position: relative; */

    
}

@media screen and (max-width: 1025px) {
    .loginSide {
      display: none;
    }
  }
/* .loginSideOverlay{
    position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 0 10px 10px 0;
} */


/* Rectangle 3 */


