<section class="weather-card" (click) = "openDetails()">
    <span class="city-name">{{name}}, {{country}}</span>
    <span style="display: none;">{{country}}</span>
    <div class="weather-icon" [ngSwitch]="true">
            <img *ngSwitchCase="state == 'Sunny'|| state == 'Clear'" src="../../../assets/svg icons/Sunny.svg" alt="sunny">
            <img *ngSwitchCase = "desc == 'overcast clouds' || desc == 'scattered clouds' || 
            desc == 'broken clouds'" src = "../../../assets/svg icons/Scattered Clouds.svg" alt="Clouds">
            <img *ngSwitchCase = "desc == 'few clouds' || desc == 'cloudy'" 
            src="../../../assets/svg icons/few clouds.svg" alt="Clouds" >
            <img *ngSwitchCase = "state == 'Fog' || state == 'Haze' || state == 'Smoke' " 
            src="../../../assets/svg icons/mist.svg" alt="Haze">
            <img *ngSwitchCase = "state === 'Storm' || state === 'Thunderstorm'" 
            src="../../../assets/svg icons/Thunderstrom.svg" alt="Thunderstrom">
            <img *ngSwitchCase = "state == 'Drizzle' || state == 'Mist'" 
            src="../../../assets/svg icons/Light Rain.svg" alt="Light Rain">
            <img *ngSwitchCase = "state == 'Rain'" 
             src="../../../assets/svg icons/Rain.svg" alt="Rain">
             <img *ngSwitchCase = "state == 'Snow' || state == 'Hail'" src="../../../assets/svg icons/Snow.svg" alt="Snow">
        
    </div>
    <div class="temp-container">
            <span class="temp-metric">{{ temp }}° C</span>
        <span class="temp-text">{{ desc }}</span>
        


    </div>

    <section class="min-max__container">
            <div class="min__container">
              <svg class="min-arrow__icon" viewBox="188.5 807 21 21">
                <path fill="#00ff9b" d="M209.5 817.5h-21L199 828z" data-name="Min Arrow"/>
              </svg>
        
              <span class="min-temperature__text">{{ tempMin }}</span>
              <span class="min__text">Min</span>
            </div>
            <div class="max__container">
              <svg class="max-arrow__icon" viewBox="449.5 820 21 21">
                <path fill="red" d="M449.5 830.5h21L460 820z" data-name="Max Arrow"/>
              </svg>
              <span class="max-temperature__text">{{ tempMax }}</span>
              <span class="max__text">Max</span>
            </div>
          </section>
          <button class="add-city-btn " *ngIf="addMode" (click)="addCity(name, country  )">ADD CITY +</button>  
</section>

<app-error [message] = "errorMessage"></app-error>