<div *ngIf="auth.user$ | async; then authenticated else guest">
        <!-- template will replace this div -->
    </div>

<ng-template #authenticated >
        <nav class="navbar  bg-col is-dark is-fixed-top" role="navigation" aria-label="main navigation" >
                <div class="navbar-brand center">
                  <a class="navbar-item" routerLink="/home">
                    LiveWeather
                    <svg width="30" height="20" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <ellipse cx="10" cy="10" rx="10" ry="10" fill="#FFDE17"/>
                        </svg>
                  </a>
              
                  <a role="button" class="navbar-burger " [ngClass]="{'burger| is-active': showMenu}" aria-label="menu" aria-expanded="true" 
                  (click)="toggleMenu()"  >
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                  </a>
                </div>
              
                <div id="navbarBasicExample" class="navbar-menu" [ngClass]="{'is-active': showMenu}">
                  <div class="navbar-start">
                    <a class="navbar-item" routerLink = "add">
                      Add Cities
                    </a>
              
                    
                  </div>
              
                  <div class="navbar-end">
                    <div class="navbar-item" *ngIf="pwa.promptEvent">
                        <div class="buttons">
                          <a class="button is-black" (click) = "installPwa()">
                            <strong>Install App</strong>
                          </a>
                        </div>
                      </div>
                    <div class="navbar-item">
                      <div class="buttons">
                        <a class="button is-black" (click) = "auth.signOut()">
                          <strong>Sign Out</strong>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </nav>
</ng-template>
<ng-template #guest></ng-template>



<main [@routeAnimations]="prepareRoute(outlet)" (click)="showMenu = false" class = "over"  >
  
  
        <router-outlet #outlet="outlet"></router-outlet>
</main>
