/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


html, body, .page{
    background: linear-gradient(180deg, #415F7A 0%, #051620 100%);
    width: 100%;
    height: 100%;
    overflow: auto;
}

@keyframes slideup {
    from {
      transform: translateY(50%);
    }
    to {
      transform: translateY(0);
    }
  
  }