.main__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    min-height: 90vh;
    position: relative;
    margin-top: 2rem;
  }

  @media screen and (max-width: 900px){
    .main__container{
      margin-top: 5rem;
    }
  }